* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #B0DAFF;
}


h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-top: 3px solid #FEFF86;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 850px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.content-table thead tr {
    background-color: #19A7CE;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #fff;  
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #DCDCDC;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #19A7CE;
}

@media (max-width: 880px) {
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9rem;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    }
}